.main-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: hsl(var(--neutral-dark-blue));
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  padding: 2rem;
  margin: 0 1rem;
  position: relative;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: hsl(var(--neutral-dark-grayish-blue));
}

.main-title {
  margin: 1rem 0 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(var(--primary-neon-green));
}

.advice-box {
  margin: 2rem 0;
}

.advice {
  color: hsl(var(--primary-light-cyan));
  font-size: var(--main-fs);
  padding: 0 2rem;
}

.border-divider {
  width: 100%;
  margin: 0 0 2rem;
}

.dice {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -2rem;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.icon-dice {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  transition: 0.25s;
}

.icon-dice:hover {
  box-shadow: 0 0 50px 5px hsl(var(--primary-neon-green));
}

.enabled {
  background: transparent;
  border: none;
  cursor: pointer;
  background: hsl(var(--primary-neon-green));
}

.disabled,
.icon-disabled {
  background: rgb(28, 28, 29);
  border: none;
}

.disabled:hover,
.icon-disabled:hover {
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 2rem 0;
  }

  .advice {
    padding: 0 0.5rem;
  }

  .border-divider {
    width: 90%;
  }
}
