@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --primary-light-cyan: 193, 38%, 86%;
  --primary-neon-green: 150, 100%, 66%;
  --neutral-grayish-blue: 217, 19%, 38%;
  --neutral-dark-grayish-blue: 217, 19%, 24%;
  --neutral-dark-blue: 218, 23%, 16%;
  --main-ff: "Manrope", sans-serif;
  --main-fs: 1.75rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-ff);
}
